<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>
<%= form_with(model: @booking, data: {turbo: false}, method: 'put') do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>