<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<%= form_with(model: @booking, url: [@listing, @booking], data: {turbo: false}) do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>
