<h1>Watchlist#index</h1>
<p>Find me in app/views/watchlist/index.html.erb</p>

<% @watchlist.each do |listing| %>
        <div class="col-12 col-md-4 col-lg-3 py-2">
          <div class="card bg-light">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> <%= listing.title %></h5>
              <p class="card-text"> <%= listing.content %></p>
              <%= button_to('Show Listing', listing, class: 'btn btn-primary', method: :get) %>
              <%= button_to('Unsave Listing', watchlist_path(listing.id), class: 'btn btn-primary', method: :delete) %>
            </div>
          </div>
        </div>
<% end %>