<h1>Reviews#edit</h1>
<p>Find me in app/views/reviews/edit.html.erb</p>

<%= form_with(model: @review, data: {turbo: false}, method: 'put') do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>