<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= form_with(model: @review, url: [@user, @review], data: {turbo: false}, method: 'post') do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>